<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for i in account_list%}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.number}}</td>
                <td>{{i.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
